*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #000;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border-radius: 0;
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
    color: #333333;
}

/* login_form */

.login_form{
    background: linear-gradient(0deg, rgb(193 193 193 / 68%), rgb(255 255 255)), url(../images/avel-chuklanov.jpg);
    background-size:cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.login_form .form-control{
    background-color: #ffffff66;
}

